extends _subpage.pug

block head
    title 2日目タイムテーブル

block main
    h1 2日目タイムテーブル
    h2 イベントタイムテーブル
    each booth in day2.event
        h3= booth.name
        table.timetable
            tr
                th 時間
                th 企画名
            each project in booth.table
                tr
                    td.time= project.time
                    td.name= project.name
        if booth.comment !== null
            p= booth.comment
    h2 常設タイムテーブル
    each booth in day2.permanent
        h3= booth.name
        table.timetable
            tr
                th 時間
                th 企画名
            each project in booth.table
                tr
                    td.time= project.time
                    td.name= project.name
        if booth.comment !== null
            p= booth.comment
    h2 ODORIBA(13:30~14:45)タイムテーブル
    table.timetable
        tr
            th 時間
            th 企画名
        each project in day2.odoriba
            tr
                td.time= project.time
                td.name= project.name
    p (※あくまで目安です。状況次第で数分前後します。ご了承ください)
